html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
}

#viewport {
    height: 100%;
    width: 100%;
    overflow: auto;
    cursor: grab;
}

#land {
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(32, 1fr);
    height: 200%;
    width: 200%;
    transform-origin: top left;
    will-change: transform;
}

.tile {
    position: relative;
    width: 20px;
    height: 20px;
}

.tile .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#viewport, #land {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: none;      
}

#viewport.dragging {
    cursor: grabbing;
}