html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
}

#viewport {
    height: 100%;
    width: 100%;
    overflow: auto;
    cursor: grab;
    scrollbar-width: none;
}

#land, #decor {
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(32, 1fr);
    transform-origin: top left;
    will-change: transform;
    width: 200%;
    height: 200%;

}

#decor {
    display: inline-grid;
    background: none;
    opacity: 0;
}

#viewport, #land, #decor {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;  
    touch-action: none;      
}

#viewport.dragging {
    cursor: grabbing;
}

#land > div {
    border: 1px solid red;
    box-sizing: border-box;
    aspect-ratio: 1/1;
}

.Plains {
    background-color: lightgreen;
}

.Forest {
    background-color: green;
}

.Road {
    background-color: burlywood
}
