html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
}

#viewport {
    height: 100%;
    width: 100%;
    overflow: auto;
    cursor: grab;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: none;
    scrollbar-width: none;
}

#viewport.dragging {
    cursor: grabbing;
}

#land {
    display: grid;
    grid-template-columns: repeat(32, 32px); /* tile size via CSS */
    grid-template-rows: repeat(32, 32px);
    transform-origin: top left;
    will-change: transform;
}

.tile {
    position: relative;
    width: 32px;
    height: 32px;
}

.tile .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}